.container{
    margin-top: 50px;
}

.category-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    width:30%;
    min-width: 300px;
}

.confirmation-card{
    width: 100%;
    min-width: 300px;
}

.basket-list {
    margin-bottom:20px;
}